<!DOCTYPE html>

<head>
    <title>SVG-2M</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/pages/exp-data/css/view.css" />
    <link rel="stylesheet" href="/pages/exp-data/css/pagination.css" />

    <script src="/pages/exp-data/js/auth.js"></script>

    <script>
        let currentPage = 1;
        let currentLimit = 10;
        const onChangeInputPageNumber = (event) => {
            const value = parseInt(event.target.value);
            if (!value || value < 1) {
                event.target.value = `${currentPage}`;
                return;
            }
            window.postMessage({
                type: "CHANGE_PAGE",
                lastPage: currentPage,
                newPage: value,
                currentLimit: currentLimit
            }, window.location.origin)

            // update page
            currentPage = value
        }

        const onChangeLimitPageNumber = (event) => {
            const value = parseInt(event.target.value);
            if (value === currentLimit) {
                return;
            }
            window.postMessage({
                type: "CHANGE_LIMIT",
                lastLimit: currentLimit,
                newLimit: value,
                currentPage: currentPage
            }, window.location.origin)
            currentLimit = value;

        }

        const onClickPreviousPage = () => {
            const pageInput = document.getElementById("pagination-page-input");
            pageInput.value = `${parseInt(pageInput.value) - 1}`;
            pageInput.dispatchEvent(new Event("change"))
        }

        const onClickFirstPage = () => {
            const pageInput = document.getElementById("pagination-page-input");
            pageInput.value = pageInput.getAttribute("min");
            pageInput.dispatchEvent(new Event("change"))
        }

        const onClickNextPage = () => {
            const pageInput = document.getElementById("pagination-page-input");
            pageInput.value = `${parseInt(pageInput.value) + 1}`;
            pageInput.dispatchEvent(new Event("change"))
        }

        const onClickLastPage = () => {
            const pageInput = document.getElementById("pagination-page-input");
            pageInput.value = pageInput.getAttribute("max");
            pageInput.dispatchEvent(new Event("change"))
        }

    </script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="\images\logo.png" alt="SVG-2M" />
        </div>
        <nav>
            <ul>
                <li><a href="/view/svg2m">SVG2M</a></li>
                <li><a href="/view/management">Management</a></li>
                <li><a onclick="logout()">Logout</a></li>
            </ul>
        </nav>
    </header>
    <!-- Page content http://erms.nuclearelectronics-inst.com/home/dataapi2 -->
    <div class="w3-content" style="max-width: 100%">
        <!-- About Section -->
        <div class="w3-row w3-padding-137" id="about">
            <div class="w3-center w3-hide-small">
                <h2>SVG-2M</h2>
                <h2>Experimental Data Logger</h2>
                <br />
            </div>
            <div class="pagination-container">
                <div class="pagination-information">
                    <span class="pagination-label">Trang:</span>
                    <!-- <select class="pagination-select" aria-label="Page">
                <option value="1" selected>1</option>
                <option value="2">2</option>
            </select> -->
                    <input type="number" class="pagination-input" value="1" min="1" id="pagination-page-input"
                        onchange="onChangeInputPageNumber(event)">

                    <span class="pagination-label">Dòng trên trang:</span>
                    <select class="pagination-select" id="pagination-page-limit" aria-label="Rows per page"
                        onchange="onChangeLimitPageNumber(event)">
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>

                    <span class="pagination-label" id="pagination-page-statistic">Hiển thị 1 - 5 trên 9</span>
                </div>

                <div class="pagination-buttons">
                    <button class="pagination-button" id="pagination-first" onclick="onClickFirstPage()">
                        <i class="fa-solid fa-angles-left fa-beat"></i>
                    </button>

                    <button class="pagination-button" id="pagination-previous" onclick="onClickPreviousPage()">
                        <i class="fa-solid fa-angle-left fa-beat"></i>
                    </button>

                    <button class="pagination-button" id="pagination-next" onclick="onClickNextPage()">
                        <i class="fa-solid fa-angle-right fa-beat"></i>
                    </button>

                    <button class="pagination-button" id="pagination-last" onclick="onClickLastPage()">
                        <i class="fa-solid fa-angles-right fa-beat"></i>
                    </button>
                </div>
            </div>
            <div class="w3-center w3-hide-small tableFixHead">
                <table id="customers">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Seri</th>
                            <th>Ngày</th>
                            <th>Thời gian</th>
                            <th>Kinh độ</th>
                            <th>Vĩ độ</th>
                            <th>Mode</th>
                            <th>DRA DoseRate<br />(µSv/h)</th>
                            <th>DRA Dose<br />(µSv)</th>
                            <th>Neutron</th>
                            <th>ACT - Alpha<br />(CPS)</th>
                            <th>ACT - Beta<br />(CPS)</th>
                            <th>ACT - Gamma<br />(µSv/h)</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_data">
                    </tbody>
                </table>
            </div>
        </div>

        <hr />

        <!-- End page content -->
    </div>


    <script src="/pages/exp-data/js/data-loader.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/pages/exp-data/js/socket-io.js"></script>
</body>