<!DOCTYPE html>

<head>
    <title>Seri</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Page -->
    <link rel="stylesheet" href="/pages/seri/css/style.css">
    <link rel="stylesheet" href="/pages/seri/css/view.css">

    <!-- Map -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/pages/seri/css/map.css" />
    <script type="module" src="/pages/seri/js/map.js"></script>

    <!-- Socket -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/pages/seri/js/socket.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Auth -->
    <script src="/pages/seri/js/auth.js"></script>

    <!-- Download data -->
    <script src="/pages/seri/js/download-data.js"></script>

    <!-- Chart -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <link rel="stylesheet" type="text/css" href="/pages/seri/css/graph.css" />


    <!-- Forwards -->
    <script src="/pages/seri/js/forwards.js"></script>

    <!-- Render default by Server -->
    <script>
        <!-- Variables read-only-->
        let currentSeri = `<%=LAST_UPDATED_SERI?LAST_UPDATED_SERI:""%>`;
        let currentData = []
        let currentFeature = "draDoseRate"
        let currentLabel = "DRA Dose Rate \n (µSv / h)"
    </script>

    <script>
        function parseIntDate(timeString) {
            const dateObject = new Date(timeString);
            const timestamp = dateObject.getTime();
            return timestamp
        }
        function handleClickDownload() {
            const beginTimeStr = document.getElementById("beginTime-input")?.value;
            const endTimeStr = document.getElementById("endTime-input")?.value;

            const beginTime = parseIntDate(beginTimeStr)
            const endTime = parseIntDate(endTimeStr)
            window.postMessage({
                type: "DOWNLOAD_DATA",
                series: [currentSeri],
                beginTime: beginTime,
                endTime: endTime
            }, window.location.origin)
        }
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/pages/seri/css/vienpmw.css" />

</head>

<body>
    <header style="position: sticky; top: 0; z-index: 11;">
        <div class="logo">
            <img src="\images\logo.png" alt="SVG-2M" />
        </div>
        <!-- Search bar -->
        <div class="search-container">
            <div id="search-box" class="dropdown-content">
                <input type="text" placeholder="Tìm kiếm seri..." id="input-seri" onkeyup="loadOptions()"
                    onclick="showOptions()">
                <div id="search-options"></div>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/view">Home</a></li>
                <li><a href="/view/management">Management</a></li>
                <li><a onclick="logout()">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="w3-row w3-padding-137" id="about">
        <div class="w3-center w3-hide-small">
            <h2>BINH CHỦNG HÓA HỌC</h2>
            <h2>VIỆN HÓA HỌC MÔI TRƯỜNG QUÂN SỰ</h2>
            <h2>SVG-2M - Seri máy: <span id="current-seri">
                    <%=LAST_UPDATED_SERI?LAST_UPDATED_SERI:""%>
                </span> <i class="fa-solid fa-caret-down"></i>
            </h2>
            <br />
        </div>

    </div>
    <div class="wrap">
        <div class="table-data">
            <!-- Page content http://erms.nuclearelectronics-inst.com/home/dataapi2 -->
            <div class="w3-content" style="max-width: 100%">
                <!-- About Section -->
                <div class="w3-center w3-hide-small tableFixHead">
                    <table id="svg2m-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <!-- <th>#</th> -->
                                <th>Ngày</th>
                                <th>Thời gian</th>
                                <th>Kinh độ</th>
                                <th>Vĩ độ</th>
                                <th>Mode</th>
                                <th>DRA DoseRate<br />(µSv/h)</th>
                                <th>DRA Dose<br />(µSv)</th>
                                <th>Neutron</th>
                                <th>ACT - Alpha<br />(CPS)</th>
                                <th>ACT - Beta<br />(CPS)</th>
                                <th>ACT - Gamma<br />(µSv/h)</th>
                            </tr>
                        </thead>
                        <!-- <tbody id="tbl_data">
                    </tbody> -->
                        <tbody id="tbl_data">
                            <tr id="svg2mRow">
                                <td colspan="13">Loading...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
            </div>
        </div>
        <div class="map-data">
            <!-- Map container -->
            <div id="map-container">
                <div id="map"></div>
            </div>

            <!-- prettier-ignore -->
            <script>
                (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
                    key: "<%=MAP_API_KEY%>",
                    v: "<%=MAP_API_V%>",
                });
            </script>
        </div>
    </div>

    <div class="wrap">

        <div id="graph-container">
            <div id="chartdiv"></div>
        </div>

        <div id="download-container">
            <h4 id="download-header">Tải dữ liệu có sẵn</h4>
            <div id="download-body">
                <h5>From:</h5>
                <input type="datetime-local" id="beginTime-input">
                <h5>To:</h5>
                <input type="datetime-local" id="endTime-input">
                <button onclick="handleClickDownload()">
                    <img title="Click to download" src="/images/download.png" alt="">
                </button>
            </div>
        </div>
    </div>

    <!-- Java Script -->
    <script src="/pages/seri/js/chart.js"></script>
    <script src="/pages/seri/js/table-svg2m.js"></script>
    <script src="/pages/seri/js/search.js"></script>

</body>