<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý</title>

    <link rel="stylesheet" href="/pages/management/css/view.css">
    <link rel="stylesheet" href="/pages/management/css/page.css">

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Socket -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/pages/management/js/socket.js"></script>
    <script src="/pages/management/js/search.js"></script>


    <!-- Auth -->
    <script src="/pages/management/js/auth.js"></script>

    <!-- Loader -->
    <script src="/pages/management/js/data-loader.js"></script>
    <script src="/pages/management/js/account.js"></script>
    <script src="/pages/management/js/action.js"></script>
    <script src="/pages/management/js/seriOffCanvas.js"></script>

</head>

<body>
    <header style="position: sticky; top: 0; z-index: 11;">
        <div class="logo">
            <img src="\images\logo-bchh.png" alt="SVG-2M" />
        </div>
        <nav>
            <ul>
                <!-- <li><a href="/">Home</a></li> -->
                <li><a href="/series">Bản đồ hoạt động</a></li>
                <li><a href="/seri-data">Biểu đồ dữ liệu</a></li>
                <li><a style="cursor: pointer;" onclick="logout()">Đăng xuất</a></li>

            </ul>
        </nav>
    </header>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAccountModal">
        Thêm tài khoản mới
    </button>

    <!-- Modal -->
    <div class="modal fade modal-lg" id="addAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="min-height: 80vh;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm tài khoản mới</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="add-account-container">
                        <div id="username-container">
                            <h5 class="notification" id="username-notification"></h5>
                            <span>Username: </span>
                            <input type="text" id="username-input" placeholder="Nhập username"
                                onfocus="clearNotification()">
                        </div>
                        <div id="unit-container">
                            <h5 class="notification" id="unit-notification"></h5>
                            <span>Đơn vị: </span>
                            <input type="text" id="unit-input" placeholder="Nhập đơn vị" onfocus="clearNotification()">
                        </div>
                        <div id="contact-container">
                            <h5 class="notification" id="contact-notification"></h5>
                            <span>SĐT: </span>
                            <input type="text" id="contact-input" placeholder="Nhập SĐT" onfocus="clearNotification()">
                        </div>
                        <div id="password-container">
                            <h5 class="notification" id="password-notification"></h5>
                            <span>Mật khẩu: </span>
                            <input type="password" id="password-input" placeholder="Nhập mật khẩu"
                                onfocus="clearNotification()">
                        </div>
                        <div id="confirm-password-container">
                            <h5 class="notification" id="confirm-password-notification"></h5>
                            <span>Nhập lại mật khẩu: </span>
                            <input type="password" id="confirm-password-input" placeholder="Nhập lại mật khẩu"
                                onfocus="clearNotification()">
                        </div>
                        <h5 id="add-account-notification" class="notification"></h5>
                    </div>
                    <button id="btn-add-account" onclick="addAccount()">Thêm</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="btn-add-account-close">Đóng</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Off canvas -->
    <button class="btn btn-primary" type="button" style="display: none;" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="btn-show-action-pane">Toggle right
        offcanvas</button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Thông tin</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Tài khoản</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="access-tab" data-bs-toggle="tab" data-bs-target="#access" type="button"
                        role="tab" aria-controls="access" aria-selected="false">Quyền truy cập</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <span>ID: </span> <span id="action-pane-inf-id"></span>
                    <!-- <span>Tài khoản: </span> <span id="action-pane-inf-username"></span>
                    <span>Vai trò: </span> <span id="action-pane-inf-role"></span> -->
                    <br>
                    <span>Ngày tạo: </span> <span id="action-pane-inf-createAt"></span>
                    <br>
                    <div id="tabpane-change-unit-container">
                        <h6>Đơn vị</h6>
                        <input type="text" id="tabpane-new-unit-input" onkeyup="handleChangeUnitAndContactInput(event)">
                    </div>
                    <div id="tabpane-change-contact-container">
                        <h6>Liên hệ</h6>
                        <input type="text" id="tabpane-new-contact-input"
                            onkeyup="handleChangeUnitAndContactInput(event)">
                    </div>
                    <button type="button" class="btn btn-info" id="btn-change-unit-contact" style="display: none;"
                        onclick="changeInfo()">
                        Lưu thay đổi</button>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div id="tabpane-logout-container">
                        <h6>Đăng xuất</h6>
                        <p>Điều này sẽ đăng xuất tài khoản khỏi tất cả thiết bị đang đăng nhập</p>
                        <button type="button" class="btn btn-info" id="btn-logout-account" onclick="logoutAccount()">
                            Đăng
                            xuất</button>

                    </div>
                    <div id="tabpane-delete-account-container">
                        <h6>Xóa tài khoản</h6>
                        <p>Điều này sẽ xóa hoàn toàn tài khoản này đồng thời đăng xuất khỏi tất cả thiết bị</p>
                        <button type="button" class="btn btn-danger" id="btn-delete-account"
                            onclick="deleteAccount()">Xóa
                            tài khoản</button>
                    </div>
                    <div id="tabpane-change-password-container">
                        <h6>Đổi mật khẩu</h6>
                        <p>Đổi mật khẩu của tài khoản hiện tại</p>
                        <input type="password" id="tabpane-new-password-input"
                            onkeyup="handleChangePasswordInput(event)">
                        <button type="button" class="btn btn-info" id="btn-change-password" style="display: none;"
                            onclick="changePassword()">
                            Lưu thay đổi</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="access" role="tabpanel" aria-labelledby="access-tab">
                    <h6>Quyền truy cập vào</h6>
                    <ul id="access-series-container">

                    </ul>
                    <hr>
                    <div class="search-container" id="tab-pane-search-box-container">
                        <div id="search-box" class="dropdown-content">
                            <input type="text" placeholder="Tìm kiếm seri..." id="input-seri" onkeyup="loadOptions()"
                                onclick="showOptions()">
                            <div id="search-options"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Table account -->
    <div class="w3-content" style="max-width: 100%">
        <div class="w3-center w3-hide-small tableFixHead">
            <table id="users-table">
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Tài khoản</th>
                        <th>Vai trò</th>
                        <th>Đơn vị</th>
                        <th>SĐT</th>
                        <!-- <th>Ngày tạo</th> -->
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="tbl_data">
                    <tr id="svg2mRow">
                        <td colspan="4">Loading...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>

    <!-- Table series -->
    <div class="w3-content" style="max-width: 100%">
        <div class="w3-center w3-hide-small tableFixHead">
            <table id="series-table">
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Seri</th>
                        <th>Đơn vị</th>
                        <th>SĐT</th>
                        <!-- <th>Ngày tạo</th> -->
                    </tr>
                </thead>
                <tbody id="tbl_series">
                    <tr id="seriRow">
                        <td colspan="4">Loading...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Off canvas seri -->
    <button class="btn btn-primary" type="button" style="display: none;" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasSeri" aria-controls="offcanvasSeri" id="btn-show-seri-pane">Toggle right
        offcanvas</button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSeri" aria-labelledby="offcanvasSeriLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasSeriLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="seri-info-container">
                <span>ID: </span> <span id="seri-pane-inf-id"></span>
                <br>
                <span>Ngày tạo: </span> <span id="seri-pane-inf-createAt"></span>
                <hr>
            </div>
            <div class="seri-info-change-container">
                <div id="seri-change-unit-container">
                    <h6>Đơn vị</h6>
                    <input type="text" id="seri-new-unit-input" onkeyup="handleChangeSeriInfo(event)">
                </div>
                <hr>
                <div id="seri-change-contact-container">
                    <h6>Liên hệ</h6>
                    <input type="text" id="seri-new-contact-input" onkeyup="handleChangeSeriInfo(event)">
                </div>
                <button type="button" class="btn btn-info" id="btn-change-seri-info" style="display: none;"
                    onclick="changeSeriInfo()">
                    Lưu thay đổi</button>
            </div>
            <hr>

            <div id="seri-delete-container">
                <h6>Xóa seri này</h6>
                <p>Điều này sẽ xóa tất cả các dữ liệu liên quan đến seri</p>
                <button type="button" class="btn btn-danger" id="btn-delete-seri" onclick="deleteSeri()">Xóa
                    seri</button>
            </div>
        </div>
    </div>

    <!-- Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>