header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

body {
  background-color: #f2f2f279;
}
h2 {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}
table {
  font-family: Arial, sans-serif;
  color: #181818;
  border-collapse: collapse;
  width: 100%;
  counter-reset: tableCount;   
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}
/* table tbody tr:first-child {
        background-color: #8BC34A;
        color: #fff;
    } */
thead th {
  background-color: #252424;
  color: #fff;
}
.w3-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.w3-button:hover {
  background-color: #3e8e41;
}
.w3-center a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 200px;
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

